<div class="container mt-5">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mb-4">
            <div class="card near-moon-gradient form-white">
                <div class="card-body">
                    <!-- Form subscription -->
                    <form>
                        <h3 class="text-center indigo-text font-bold py-4"><strong>Connexion</strong></h3>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix white-text"></i>
                            <input type="text" id="form35" class="form-control">
                            <label for="form35">Email</label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-lock prefix white-text"></i>
                            <input type="text" id="form25" class="form-control">
                            <label for="form25">Mot de passe</label>
                        </div>
                        <div class="center">
                            <button>
                             <span>Valider</span>
                             <i class="fa fa-check fa-lg replace"></i>
                             <i class="fa fa-check fa-lg hidden"></i>
                            </button>
                          </div>
                        <!-- <div class="text-center white-text py-4">
                            <button class="btn btn-indigo">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                        </div> -->
                    </form>
                    <!-- Form subscription -->
                </div>
            </div>
        </div>
    </div>
    <!-- Grid row -->
</div>